.btnMix {
  margin-bottom: 13px;
  height: auto;
  width: auto;
  padding: 10px 15px 15px 10px;
  font-size: 2.4rem;
  color: black;
  font-weight: bold;
  background-color: #D3D3D3;
  border: 2px solid #708090;
  border-radius: 10px;
}
.mobileBtnMix {
  background-color: white;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  /* Best Practice */
  font-size: 62.5%;
}
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  border-bottom: 1px solid #DCDCDC;
  width: 100%;
  height: auto;
  background-color: black;
}
header .logo {
  display: block;
  width: 200px;
  height: 80px;
  margin-left: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
}
header nav {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
header nav a {
  padding: 10px 15px 10px 15px;
  color: white;
  margin-right: 25px;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
}
header nav input {
  display: flex;
  align-items: center;
  border: none;
  border: solid 1px black;
  border-radius: 10px;
  height: 40px;
  width: 240px;
  margin-right: 20px;
  font-size: 22px;
  padding: 10px;
}
header nav .signUp {
  margin-bottom: 13px;
  height: auto;
  width: auto;
  padding: 10px 15px 15px 10px;
  font-size: 2.4rem;
  color: black;
  font-weight: bold;
  background-color: #D3D3D3;
  border: 2px solid #708090;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-right: 25px;
}
@media screen and (max-width: 500px) {
  header {
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid white;
    height: auto;
    overflow-y: auto;
    background-color: black;
  }
  header .logo {
    margin: auto;
    max-height: 80px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  header nav {
    color: white;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header nav a {
    color: white;
    margin: auto;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  header nav .overLink:hover {
    background-color: black;
  }
  header nav input {
    display: none;
    border: none;
    border: solid 1px black;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 55px;
    font-size: 22px;
    padding: 10px;
  }
  header nav .signUp {
    display: none;
    margin-bottom: 13px;
    height: auto;
    width: auto;
    padding: 10px 15px 15px 10px;
    font-size: 2.4rem;
    color: black;
    font-weight: bold;
    background-color: #D3D3D3;
    border: 2px solid #708090;
    border-radius: 10px;
    margin-top: -10px;
    margin-right: 25px;
  }
  header nav .signUp:hover {
    background-color: #DCDCDC;
  }
}
html {
  font-size: 62.5%;
}
body {
  background-color: black;
}
.about {
  display: flex;
  flex-direction: column;
  padding: 150px 10px 10px 105px;
}
.about h2 {
  padding-top: 10px;
  color: white;
  font-size: 4rem;
  font-weight: bold;
  font-family: "Arial Bold", sans-serif;
}
.about p {
  color: white;
  font-size: 2.5rem;
  font-weight: 300;
  margin-top: 25px;
}
.team {
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
}
.team .box {
  max-width: 300px;
  height: auto;
}
.team .images {
  display: block;
  margin: auto;
  max-width: 200px;
  max-height: 200px;
}
.team h3 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
.team .teamInfo {
  color: white;
  margin-top: 10px;
  font-size: 2rem;
  text-align: center;
}
.team ul {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}
.team ul li {
  color: white;
  justify-content: space-between;
  display: flex;
}
.team ul li a {
  padding: 4px;
  font-size: 4rem;
  display: block;
  border-radius: 50%;
  background-color: black;
  color: white;
  border: 1px solid black;
}
.team ul li .linkedin:hover {
  transition: 0.2s;
  background-color: #0077B5;
}
.team ul li .github:hover {
  transition: 0.2s;
  background-color: #6e5494;
}
.team ul li .twitter:hover {
  transition: 0.2s;
  background-color: #00aced;
}
.team ul li .freeCodeCamp:hover {
  transition: 0.2s;
  background-color: #006400;
}
@media screen and (max-width: 500px) {
  body {
    width: auto;
  }
  .about {
    margin-top: 10px;
    padding: 5px 10;
    display: flex;
    flex-direction: column;
  }
  .about h2 {
    margin: auto;
    font-size: 4rem;
    font-weight: bold;
    font-family: "Arial Bold", sans-serif;
  }
  .about p {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 10px;
  }
  .team {
    margin: 30px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team .box {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .team .images {
    display: block;
    margin: auto;
    max-width: 200px;
    max-height: 200px;
  }
  .team h3 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
  .team .teamInfo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.8rem;
  }
  .team ul {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
  }
  .team ul li {
    display: flex;
    justify-content: space-between;
  }
  .team ul li a {
    padding: 4px;
    font-size: 3rem;
    display: block;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  .team ul li .linkedin:hover {
    background-color: white;
  }
  .team ul li .github:hover {
    background-color: white;
  }
  .team ul li .twitter:hover {
    background-color: white;
  }
  .team ul li .freeCodeCamp:hover {
    background-color: white;
  }
}
html {
  font-size: 62.5%;
}
footer .bottomContent {
  color: white;
  margin-top: 50px;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
footer .bottom {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer .bottom .bottomInput {
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: auto;
  margin-top: 20px;
  font-size: 2rem;
  padding: 10px;
  border: none;
  border: solid 1px #DCDCDC;
  border-radius: 10px;
}
footer .bottom .sendMsg {
  margin-top: 30px;
  margin-bottom: 13px;
  height: auto;
  width: auto;
  padding: 10px 15px 15px 10px;
  font-size: 2.4rem;
  color: black;
  font-weight: bold;
  background-color: #D3D3D3;
  border: 2px solid #708090;
  border-radius: 10px;
}
footer .bottom .sendMsg:hover {
  background-color: #DCDCDC;
}
@media screen and (max-width: 500px) {
  .bottomInput {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    height: auto;
    margin-top: 20px;
    font-size: 2rem;
    padding: 10px;
    border: none;
    border: solid 1px #DCDCDC;
    border-radius: 10px;
  }
  .sendMsg {
    margin-top: 30px;
    background-color: white;
  }
  .sendMsg:hover {
    background-color: white;
  }
}
