html {
  font-size: 62.5%;
}
body {
  color: white;
}

@media screen and(min-width: 1000px) {
  .main-content {
    padding: 200px 0px 0px 0px;
    margin-bottom: 20px;
  }

  .first-heading {
    margin-left: 30px;
    font-size: 2.6rem;
  }

  .testing {
    padding: 20px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 1.8rem;
  }

  .secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    .htext {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .ptext {
      padding-top: 10px;
      font-size: 2rem;
    }
    .panel {
      width: 800px;
    }
  }
}

@media screen and(max-width: 500px) {
  .main-content {
    padding: 20px 15px 15px 0px;
    margin-bottom: 20px;
    text-align: center;
    .first-heading {
      text-align: center;
      font-size: 2.6rem;
    }
  
    .testing {
      text-align: center;
      padding: 20px;
      margin-top: 5px;
      font-size: 1.8rem;
    }
  
  }
  .secondary {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .htext {
      font-size: 4rem;
      font-weight: bold;
    }
    .ptext {
      font-size: 1.2rem;
    }
    .panel {
      width: auto;
      padding: 0px 10px 0px 30px;
    }
  }
}
@media screen and(min-width: 501px) and (max-width: 999px) {
  .main-content {
    width: auto;
    padding: 20px 15px 15px 0px;
    margin-bottom: 20px;
    text-align: center;
    .first-heading {
      margin-left: 30px;
      font-size: 2.6rem;
    }
  
    .testing {
      padding: 20px;
      margin-top: 5px;
      margin-left: 10px;
      font-size: 1.8rem;
    }
  
  }
  .secondary {
    width: auto;
    .htext {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .ptext {
      padding-top: 10px;
      font-size: 2rem;
    }
    .panel {
      width: auto;
      padding: 0px 20px 20px 0px;
    }
  }
}

// in the index.less1

.home {
  .accordion {
    .panel {
      padding: 30px;
      border: 1px solid white;

      .panel-bar {
        display: flex;
        justify-content: space-between;

        .panel-buttons {
          button {
            cursor: pointer;
          }

          .hide-btn {
            display: none;
          }
        }
      }

      .panel-content {
        display: none;
      }

      .toggle-on {
        display: block;
      }
    }
  }
}
