html {
  font-size: 62.5%;
}
body {
  color: white;
}
@media screen and (min-width: 1000px) {
  .main-content {
    padding: 200px 0px 0px 0px;
    margin-bottom: 20px;
  }
  .first-heading {
    margin-left: 30px;
    font-size: 2.6rem;
  }
  .testing {
    padding: 20px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 1.8rem;
  }
  .secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .secondary .htext {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .secondary .ptext {
    padding-top: 10px;
    font-size: 2rem;
  }
  .secondary .panel {
    width: 800px;
  }
}
@media screen and (max-width: 500px) {
  .main-content {
    padding: 20px 15px 15px 0px;
    margin-bottom: 20px;
    text-align: center;
  }
  .main-content .first-heading {
    text-align: center;
    font-size: 2.6rem;
  }
  .main-content .testing {
    text-align: center;
    padding: 20px;
    margin-top: 5px;
    font-size: 1.8rem;
  }
  .secondary {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .secondary .htext {
    font-size: 4rem;
    font-weight: bold;
  }
  .secondary .ptext {
    font-size: 1.2rem;
  }
  .secondary .panel {
    width: auto;
    padding: 0px 10px 0px 30px;
  }
}
@media screen and (min-width: 501px) and (max-width: 999px) {
  .main-content {
    width: auto;
    padding: 20px 15px 15px 0px;
    margin-bottom: 20px;
    text-align: center;
  }
  .main-content .first-heading {
    margin-left: 30px;
    font-size: 2.6rem;
  }
  .main-content .testing {
    padding: 20px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 1.8rem;
  }
  .secondary {
    width: auto;
  }
  .secondary .htext {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .secondary .ptext {
    padding-top: 10px;
    font-size: 2rem;
  }
  .secondary .panel {
    width: auto;
    padding: 0px 20px 20px 0px;
  }
}
.home .accordion .panel {
  padding: 30px;
  border: 1px solid white;
}
.home .accordion .panel .panel-bar {
  display: flex;
  justify-content: space-between;
}
.home .accordion .panel .panel-bar .panel-buttons button {
  cursor: pointer;
}
.home .accordion .panel .panel-bar .panel-buttons .hide-btn {
  display: none;
}
.home .accordion .panel .panel-content {
  display: none;
}
.home .accordion .panel .toggle-on {
  display: block;
}
