// social media colors pick three ?
@twitter: #00aced;
@linkedin: #0077B5;
@github:  #6e5494;
@freeCodeCamp: #006400;



// header vars
@aBackground: #fffdd0;
@btnBorder: #708090;
@btnBackground: #D3D3D3;
@btnHover: #DCDCDC;